.wishlistIcon {
  font-size: 0;
}

.iconSize {
  display: inline-block;
  width: 24px;
  height: 24px;
}
.fill {
  background: url('data:image/svg+xml;utf,<?xml version="1.0" encoding="UTF-8"?><svg id="Layer_1" data-name="Layer 1" fill="red" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><title>heart-glyph</title><path d="M362.67,21.33A149,149,0,0,0,256,66.19,149,149,0,0,0,149.33,21.33C67,21.33,0,88.32,0,170.67a148.45,148.45,0,0,0,43.08,104.9L240.51,484a21.33,21.33,0,0,0,31,0L468.75,275.74A148.45,148.45,0,0,0,512,170.67C512,88.32,445,21.33,362.67,21.33Z"/></svg>');
}
.outline {
  background: url('data:image/svg+xml;utf,<?xml version="1.0" encoding="UTF-8"?><svg id="Layer_1" data-name="Layer 1" fill="red" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><title>heart-other</title><path d="M256,489.24a5.69,5.69,0,0,1-4.13-1.78L41.15,265A141.37,141.37,0,0,1,0,165C0,86.56,63.8,22.76,142.22,22.76A141.94,141.94,0,0,1,256,79.71a141.94,141.94,0,0,1,113.78-57C448.2,22.76,512,86.56,512,165A141.38,141.38,0,0,1,470.81,265L260.13,487.47A5.69,5.69,0,0,1,256,489.24ZM142.22,34.13C70.07,34.13,11.38,92.83,11.38,165A130.09,130.09,0,0,0,49.28,257l.08.09L256,475.28,462.63,257.13a130.18,130.18,0,0,0,38-92.16c0-72.14-58.69-130.84-130.84-130.84a130.66,130.66,0,0,0-109,58.58,5.9,5.9,0,0,1-9.48,0A130.66,130.66,0,0,0,142.22,34.13Z"/></svg>');
}

.clearLink {
  text-decoration: inherit;
  color: inherit;
}
